.moviescardlist {
  background: #FAFAFA;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.moviescardlist__conteiner {
  max-width: 1140px;

  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;

  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 32px 20px;

  border-top: 1px solid #E8E8E8;
}

.moviescardlist__bnt {
  width: 320px;
  height: 36px;

  margin: 0px auto 80px;

  background-color: #F4F4F4;
  border: none;
  border-radius: 6px;
}

.moviescardlist__bnt:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .moviescardlist__conteiner {
    grid-template-columns: repeat(3, 300px);
    gap: 36px 10px;
  }
}

@media (max-width: 1023px) {
  .moviescardlist__conteiner {
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
}

@media (max-width: 767px) {
  .moviescardlist__conteiner {
    padding-top: 50px;

    grid-template-columns: repeat(1, 300px);
    gap: 20;
  }

  .moviescardlist__bnt {
    width: 240px;
    height: 36px; 
  }
}